<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Confirm your registration</title>
  </head>
  <body>
    <p>Hi {{firstName}},</p>
    <p>Thank you for registering with our service. To complete your registration, please click the link below:</p>
    <p><a href="{{confirmLink}}">{{confirmLink}}</a></p>
    <p>This link will expire in 48 hours.</p>
    <p>If you did not register for our service, please disregard this message.</p>
    <p>Thanks,<br>My NestJS Sample App Team</p>
  </body>
</html>